
<div class="questions">
    <h3>Quel est le nom de votre site internet/app ?
    </h3>
    <input value="Atiqur" class="form-control">

    <h3> Quel est le nom ou la dénomination sociale (s'il s'agit d'une organisation) de l'éditeur de votre site/app ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelle est l'adresse de l'éditeur de votre site/app ?
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quel est le numéro d'immatriculation de l'éditeur du site/app ?
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quel est le numéro de téléphone de l'éditeur du site/app ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3> Quel est l'adresse email de contact de l'éditeur du site/app ?
       <!-- 6 -->
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quel est le nom de la personne responsable des contenus publiés sur le site/app, autrement dit le directeur de publication ?
             <!-- 7 -->

   </h3>
   <input value="Atiqur" class="form-control">

   <h3>Quelle est la dénomination sociale de l'hébergeur de votre site/app ?
           <!-- 8 -->

   </h3>
   <input value="Atiqur" class="form-control">

   <h3>Quelle est l'adresse postale de l'hébergeur de votre site/app ?
           <!-- 9 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Quel est le numéro de téléphone de l'herbergeur de votre site/app ??
           <!-- 10 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Quel est l'objet de votre site internet et/ou de votre application pour qui ces conditions générales sont dédiées ?
           <!-- 11 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>À quelle adresse email les utilisateurs pourront-ils contacter l'éditeur pour toutes questions relatives à la plateforme ?
           <!-- 12 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Faudrait-il un âge minimum pour accéder à la plateforme ?
           <!-- 13 -->

  </h3>
  <input value="yes" class="form-control">

  <h3> Quel est l'âge minimum que devraient avoir vos utilisateurs pour accéder à la plateforme ?
               <!-- 14 -->

  </h3>
  <input value="" class="form-control">

  <h3> Les utilisateurs pourront-ils créer des compte sur la plateforme ?
               <!-- 15 -->

  </h3>
  <input value="" class="form-control">
           <!-- 16 -->

  <h3>l'utilisateur peut-il changer d'identifiant ou de mot de passe après son inscription ?
               <!-- 17 -->

  </h3>
  <input value="yes" class="form-control">

  <h3>La désinscription d'un utilisateur est-elle immédiate après la demande ?
               <!-- 18 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>L'utilisateur est-il en mesure de supprimer des comptes d'utilisateurs si ces dernier ne respectent pas certaines conditions ?
               <!-- 19 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Procederiez-vous à de la vente d'article en ligne sur votre site web/app ?
               <!-- 20 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3> L'entreprise éditrice de la plateforme est-elle assujeti à la TVA ?
                   <!-- 21 -->

  </h3>
  <input value="yes" class="form-control">

  <h3>Quel est le numéro individuel d'identification intracommunautaire de l'éditeur ? (N° TVA)
                   <!-- 22 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>L'éditeur de la plateforme est-il soumis à un régime réglementé ?
                       <!-- 23 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Quel est le régime spécial dont relève l'éditeur de la plateforme ?
                           <!-- 24 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Comment l'utilisateur pourra-t-il vous contactez en cas d'utilisation frauduleuse de sa carte bancaire ?
                               <!-- 24 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3> Quelles sont les coordonnées et horaires d'ouvertures du service client ?
                                   <!-- 25 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Quels sont les différents délais de livraisons ?
                                       <!-- 26 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Quelles sont les modalités d'un retour d'article par le client ?
                                           <!-- 27 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>En cas de retour de la commande pour échange ou remboursement, qui portera la charge des frais de retour ?
    suggested answers :(Yes or No)
                                           <!-- 28 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>L'éditeur de la plateforme est-il le producteur de la totalité des produits présentés ?
                                               <!-- 29 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>une garantie commerciale couvrant la conformité des produits est-elle prévue ?
                                                   <!-- 30 -->

  </h3>
  <input value="Atiqur" class="form-control">

  <h3>En cas d'échange de produit le client devra-t-il payer les frais de livraison du nouveau produit ?
                                                   <!-- 31 -->

  </h3>
  <input value="Atiqur" class="form-control">

    <button (click)="download()">download</button>
