

<div class="questions">
  <h3>Alors, quel est le nom de ton site internet ?
  </h3>
  <input value="Atiqur" class="form-control">

  <h3>Dis moi, quel est l'URL de ton site ? Ex: www.tonsite.fr</h3>
  <input value="sonu" class="form-control">

  <h3>Quelles sont les données personnelles des utilisateurs que tu comptes collecter et traiter ?
  </h3>
  <input value="Samantha" class="form-control">

  <h3>Quelles opérations entraînent la collecte de données personnelles sur ton site internet ?</h3>
  <input value="yes" class="form-control">

  <h3>Dis moi, tes utilisateurs peuvent-ils payer des produits ou des services sur ton site ? (si oui rajouter ce bout de texte)</h3>
  <input value="" class="form-control">

  <h3>Tes utilisateurs peuvent-ils créer un compte sur ton site ?  (si oui rajout de ce bout de texte) + (deux autres bouts de texte plus bas) </h3>
  <input value="" class="form-control">

  <h3>Envoies-tu des emails à tes utilisateurs sous forme de newsletter ? (si oui rajout de ce bout de texte)</h3>
  <input value="zindagi" class="form-control">

  <h3>Comptes-tu procéder à des transferts de données personnelles de tes utilisateurs à tiers ? Si oui, dis moi lesquels et pour chacun dis moi l'objet du transfert de données ?  (rajouter les réponses données par l'utilisateur)</h3>
  <input value="begairat" class="form-control">

  <h3>Vers quels serveurs/herbergeurs sera herbergé ton site internet ?
  </h3>
  <input value="Delphine" class="form-control">

  <h3>Quelle est l'adresse postale de l'hébergeur de ton site internet ?</h3>
  <input value="kuch bhi" class="form-control">

  <h3>As-tu et peux tu me donner le numéro de téléphone de l'hébergeur de ton site internet ? si tu l'as pas c'est pas grave.
  </h3>
  <input value="college" class="form-control">

  <h3>Quel est le nom du responsable de traitement des données personnelles des utilisateurs ? En général, il s'agit du principale dirigeant de l'entreprise.
  </h3>
  <input value="aaauu" class="form-control">

  <h3>Dit moi de quelle(s) manière(s) le responsable du traitement des données peut être contacté stp ?Dit moi de quelle(s) manière(s) le responsable du traitement des données peut être contacté stp ?</h3>
  <input value="jeajej" class="form-control">

  <h3>Ton site internet est-il  certifié par un certificat SSL ?ce certificat permet d'attester de l'identité de l'éditeur d'un site et de la sécurité des données des utilisateurs collectées ? (si oui rajouter ce bout de texte)
  </h3>
  <input value="zfzfrf" class="form-control">

  <h3>As-tu déjà nommé un délégué à la protection des données personnelles (DPO ou Data Protection Officer) ? Un DPO est la personne qui conseille le responsable du site, et qui encadre les traitements des données personnelles des utilisateurs. (Si oui rajouter tout le texte du C.)
  </h3>
  <input value="zfrzfz" class="form-control">

  <h3>Quel est est le nom du DPO ?
  </h3>
  <input value="zfrf" class="form-control">

  <h3>Alors, dit moi de quelle manière le Délégué à la Protection des Données peut être joint ?
    Indique par exemple son adresse mail, ou un numéro de téléphone.</h3>
  <input value="zfzrfzrf" class="form-control">

  <h3>Tes utilisateurs peuvent-ils créer un compte sur ton site ? (si oui rajout de ce bout de texte)</h3>
  <input value="utytyyt" class="form-control">

  <h3>Tes utilisateurs peuvent-ils créer un compte sur ton site ? (si oui rajout de ce bout de texte)</h3>
  <input value="ttttt" class="form-control">

  <h3>Souhaitez-vous intaurez un âge minimum pour pouvoir utiliser votre site internet ? (Si oui rajouter le texte du B.)</h3>
  <input value="yyyyy" class="form-control">

  <h3>Compte-tu utiliser des cookies autres que des cookies nécessaires au fonctionnement de ton site internet ? Les "cookies" sont des fichiers déposés sur le disque dur des utilisateurs pour garder en mémoire certaines informations, comme les préférences de navigation ou pour améliorer la navigation des utilisateurs sur le site.
    (si oui rajouter ce bout de texte)</h3>
  <input value="azzerty" class="form-control">

  <h3>Compte-tu donner la possiblité à des tiers de déposer des fichiers "cookies" sur le disque dur de tes utilisateurs ?
     (si oui rajouter ce bout de texte) + (texte plus bas)</h3>
  <input value="yhtbvuy" class="form-control">

  <h3>Alors quels sont les sites tiers susceptibles de déposer des "cookies" sur les disques durs de tes utilisateurs ?
    Cite les moi stp.</h3>
  <input value="yzeyfvzyvyr" class="form-control">

  <h3>Compte tu intégrer des boutons permettant de partager certaines activités ou informations,
    ou d'accéder rapidement à des réseaux sociaux tel que facebook, twitter, whatsapp, etc ?</h3>
  <input value="rfzfrzfrzfr" class="form-control">

  <h3>Compte-tu donner la possiblité à des tiers de déposer des fichiers "cookies" sur le disque dur de tes utilisateurs ? (si oui rajouter ce bout de texte) + (texte plus bas)</h3>
  <input value="mobeen" class="form-control">

  <h3>As-tu prévu d'utiliser l'outils de suivi et/ou d'analyse "Google Analytics" ?</h3>
  <input value="Atiqur" class="form-control">

  <h3>Dis moi, quel est l'URL de ton site ?  </h3>
  <input value="Rehman" class="form-control">

  <h3>À partir de quelle date souhaites-tu que cette politique de confidentialité entre en vigueur ?
  </h3>
  <input value="sumaira" class="form-control">


  <h3>Dis moi, quel est l'URL de ton site ?
  </h3>
  <input value="sumaira" class="form-control">

  <h3>À partir de quelle date souhaites-tu que cette politique de confidentialité entre en vigueur ?
  </h3>
  <input value="sumaira" class="form-control">


</div>
  <button (click)="download()">download</button>
