<div class="row row-cols-0 row-cols-md-4" style="padding: 40px;" >
  <div class="card" style="width: 18rem;" style="background-color: rgb(7, 197, 74)">
    <div class="card-body" style="padding-right: 0%;">
      <h5 class="card-title">DIAGNOSTOIC DE VOTRE
        SITUATION DE CONFORMITE AU RGPD</h5>
      <p class="card-text"><br>

      </p>
      <h1>GRATUITE</h1>

    <a href="#" class="card-link">Obtenir</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;"style="background-color: rgb(7, 197, 74)">
    <div class="card-body" >
      <h5 class="card-title">POLITIQUE DE CONFIDENTILITE</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p><br>
      <h1>44,95</h1>

      <a class="card-link" href="quiz" [routerLink]="'/quiz'">Obtenir</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;"style="background-color: rgb(7, 197, 74)">
    <div class="card-body">
      <h5 class="card-title">CONDITION GÉNÉRALES D'UTILISATION/VENTE (CGU/CGV)</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p>
      <h1>44,99</h1>

      <a href="#" class="card-link" href="/document-three" [routerLink]="'/documentThree'">Obtenir</a>
    </div>
  </div>

<div class="card" style="width: 18rem;" style="background-color: rgb(7, 197, 74);">
    <div class="card-body">
      <h5 class="card-title">RREGISTRE DE TRAITEMENT DE DONNÉES PERSONELLES</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p>
      <h1>39,99</h1>

      <a  class="card-link"href="document-two" [routerLink]="'/documentTwo'">Obtenir</a>
    </div>
  </div>
</div>

  <div class="row row-cols-0 row-cols-md-4" style=" padding: 40px;">
    <div class="card" style="width: 18rem;" style="background-color: rgb(7, 197, 74)">
    <div class="card-body">
      <h5 class="card-title">ANALYSE D'IMPACT SUR LA VIE (DPIA/PIA</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p>
      <h1>39,99</h1>

      <a href="#" class="card-link">Obtenir</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" style="background-color: rgb(7, 197, 74)">
    <div class="card-body">
      <h5 class="card-title">CARTOGRAPHIE DE DONNÉE</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p>
      <h1>39,99</h1>

      <a href="#" class="card-link">Obtenir</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" style="background-color: rgb(7, 197, 74)">
    <div class="card-body">
      <h5 class="card-title">CONTRATS & MENTIONS D'INFORMATION</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p>
      <h1>34,99</h1>

      <a href="#" class="card-link">Obtenir</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" style="background-color: rgb(7, 197, 74);">
    <div class="card-body">
      <h5 class="card-title">CHARTS & CODES DE CONDUITS</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text"></p>
      <h1>39,99</h1>

      <a href="#" class="card-link">Obtenir</a>
    </div>
  </div>

</div>

