
<div class="questions">




    <h3>Quelle est l'adresse de votre entreprise
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelle est la principale adresse email de votre entreprise ?

    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quel est le numéro de téléphone principal de votre entreprise ?
    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Qui est le responsable du traitement de données personnelles dans votre entreprise ? (en général il s'agit du principal gérant de l'entreprise)?
    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quelle est l'adresse postale du responsable de traitement ?

    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quel est l'adresse email du responsable de traitement de données personnelles ?
    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quel est le numéro de téléphone du responsable de traitement de données personnelles ?

    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Y a t-il un délégué à la protection de données personnelles ? *Si oui rajouter ce bout de texte?
    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quel est l'adresse du DPO ?


    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quel est le mail du DPO ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quel est numéro de téléphone du DPO ?

    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Le DPO fait-il partie d'une organisation extérieure à l'entreprise ? *si oui rajouter ce bout de texte?
    </h3>
    <input value="Atiqur" class="form-control">


    <h3>De quelle organisation extérieure dépend le DPO ?

    </h3>
    <input value="Atiqur" class="form-control">


    <h3>Quelle est l'adresse de l'organisme dont dépend le DPO ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Numéro de téléphone de l'organisme dont dépend le DPO ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelle est la date de création du régistre de traitement de données personnelles ?</h3>
    <input value="Atiqur" class="form-control">

    <h3>Quels sont les traitements de données personnelles que vous prévoyez faire dans le cadre de votre activité ?


    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Pouvez-vous s'il vous plaît nous décrire le traitement 1, notamment la façon dont il va s'effectuer. ?


    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelle est la date de création du traitement 1 ?


    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelles sont les données manipulées dans le cadre du traitement 1 ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3>De quelles catégories de personnes proviennent ces données perosnnelles ?
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelle est la finalité du traitement ?
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Qui est destinataire de ces données personnelles ?

    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Combien de temps concervez-vous les données personnelles collectées dans le cadre du traitement 1 ?
         N'hésitez pas à détailler données par données si besoin.
    </h3>
    <input value="Atiqur" class="form-control">

    <h3>Quelles mesures de sécurité avez-vous prises concernant le traitement de ces données ?
   </h3>
   <input value="Atiqur" class="form-control">

   <h3>Le traitement 1 manipulera t-il des données sensible ?
   </h3>
   <input value="Atiqur" class="form-control">





    <button (click)="download()">download</button>
